body {
    font-family: "Open Sans", sans-serif;
}
.invoice-preview {
    margin: 0 auto;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    font-size: 110%;
    border: 1px solid #ddd;
    text-align: left;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;   
    font-size: 14px;
    max-width: 800px;
}
.invoice-preview table {
    text-align: right;
}

p {
    margin-bottom: 0.5em;
    line-height: 1.4em;
}
.right {
    text-align: right;
}
.split_half {
    width: 100%;
}
.split_half td, .split_half th{
    text-align: left;
}

.inv-transactions table th {
    font-weight: bold;
    background-color: #f1f1f1;
    border: 1px solid #bbbbbb;        
    font-size: 12px;
}
table th, table td, .table th, .table td {
    margin: 0;
    padding: 5px;
}
.summary_number {
    width: 15%;
}
.summary_table {
    width: 100%;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    text-align: right;
}
#to_pay {
    text-align: left;
}
#to_pay th {
    background-color: #fff;
    border: none;
    width: 120px;
}
.to_pay td, .to_pay th {
    padding: 10px 5px;
    vertical-align: top;
}
table tr {
    vertical-align: top;
}